html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/* User Window Styling */
#userwindow {
	position: relative;
	height: 120px;
	width: 250px;
}

#profilepic {
	height: 70%;
	width: 30%;
	float: left;
	padding-right: 2px;
	border: 1px solid black;
}

#description {
	height: 70%;
	width: 65%;
	float: right;
	border: 1px solid black;
}

#addToMap {
	position: absolute;
	bottom: 0;
	height: 20%;
	width: 99%;
	border: 1px solid black;
}

#userButtons {
	position: absolute;
	bottom: 0;
	height: 20%;
	width: 99%;
	border: 1px solid black;
}

/* Courses */
#course-menu {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 5;
}

#course-menu select, #dist-vals select {
	height: 30px;
	font-size: 15px;
}

/* Distances */
#dist-vals {
	position: absolute;
	top: 30px;
	left: 130px;
	z-index: 5;
}

/* Friend's List */
#friendslist {
	border: 1px solid black;
	background-color: white;
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 5;
}

/* Specific Friend */
.friend {
	border: 1px white;
	padding: 10px;
	position: relative;
	

}

ul{
	list-style-type: none;
}


.friend:hover{
	background-color: #dfe3ee;
}





















}